name: tests

on:
  push:
    branches:
      - main
  pull_request: ~
  workflow_dispatch: ~

permissions:
  contents: read

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - run: make lint-go || (echo "::notice Run 'make lint-fix' locally to fix this" && exit 1)
      - run: make lint-license || (echo "::notice Run 'make lint-fix' locally to fix this" && exit 1)

  lint-other:
    permissions:
      contents: read  # for actions/checkout to fetch code
      statuses: write  # for github/super-linter/slim to mark status of each linter run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: github/super-linter/slim@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: '.' # From https://github.com/github/super-linter/pull/859#issuecomment-709625090
          VALIDATE_MARKDOWN: true
          MARKDOWN_CONFIG_FILE: build/config/.markdownlint.yaml
          VALIDATE_YAML: true
          YAML_CONFIG_FILE: build/config/.yamllint.yaml

  test:
    permissions:
      contents: read  # for actions/checkout to fetch code
      checks: write  # for mikepenz/action-junit-report to update checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - run: make test-with-coverage

      - uses: mikepenz/action-junit-report@v5
        if: ${{ !cancelled() }}
        with:
          report_paths: '**/build/reports/unit-tests.xml'

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/reports/unit-tests.xml

      - uses: codecov/codecov-action@v5.2.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/reports/coverage.out
